.section-roadmap {
  padding: 9.4rem 0 12.8rem 0;
  min-height: 100vh;
}

.feedbacks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  &__description {
    margin-bottom: 3.2rem;
  }

  &__list {
    display: grid;
    gap: 2.4rem;
  }
}
