.upvote {
  padding: 0.8rem 1.1rem;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.181px;
  cursor: pointer;
  min-width: 5rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;

  &--inline {
    flex-direction: row;
  }
}
