.heading-1 {
  font-size: $fs-heading-1;
  letter-spacing: -0.33px;
  font-weight: 700;
  line-height: 1.45;
}

.heading-2 {
  font-size: $fs-heading-2;
  letter-spacing: -0.25px;
  font-weight: 700;
  line-height: 1.45;
}

.heading-3 {
  font-size: $fs-heading-3;
  letter-spacing: -0.25px;
  font-weight: 700;
  line-height: 1.45;
}

.heading-4 {
  font-size: $fs-heading-4;
  letter-spacing: -0.2px;
  font-weight: 700;
  line-height: 1.42;
}

.paragraph-1 {
  font-size: $fs-body-1;
  font-weight: 400;
  line-height: 1.43;
}

.paragraph-2 {
  font-size: $fs-body-2;
  font-weight: 400;
  line-height: 1.46;
}

.paragraph-3 {
  font-size: $fs-body-3;
  font-weight: 600;
  line-height: 1.46;
}
