.bg-grey-dark-1 {
  background-color: $clr-grey-dark-1;
}

.bg-grey-dark-2 {
  background-color: $clr-grey-dark-2;
}

.bg-grey-light-1 {
  background-color: $clr-grey-light-1;
}

.bg-grey-light-2 {
  background-color: $clr-grey-light-2;
}

.bg-grey-light-3 {
  background-color: $clr-grey-light-3;
}

.bg-primary {
  background-color: $clr-primary;
}

.bg-secondary {
  background-color: $clr-secondary;
}

.bg-planned {
  background-color: $clr-planned;
}

.bg-live {
  background-color: $clr-live;
}

.bg-progress {
  background-color: $clr-progress;
}

.bg-white {
  background-color: $clr-white;
}

.bg-danger {
  background-color: $clr-danger;
}

.text-grey-dark-1 {
  color: $clr-grey-dark-1;
}

.text-grey-dark-2 {
  color: $clr-grey-dark-2;
}

.text-grey-light-1 {
  color: $clr-grey-light-1;
}

.text-grey-light-2 {
  color: $clr-grey-light-2;
}

.text-grey-light-3 {
  color: $clr-grey-light-3;
}

.text-primary {
  color: $clr-primary;
}

.text-secondary {
  color: $clr-secondary;
}

.text-planned {
  color: $clr-planned;
}

.text-live {
  color: $clr-live;
}

.text-white {
  color: $clr-white;
}

.text-danger {
  color: $clr-danger;
}

.container {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
