$clr-grey-dark-1: #373f68;

$clr-grey-dark-2: #3a4374;

$clr-grey-light-1: #647196;

$clr-grey-light-2: #f2f4fe;

$clr-grey-light-3: #f7f8fd;

$clr-primary: #ad1fea;

$clr-secondary: #4661e6;

$clr-planned: #f49f85;

$clr-live: #62bcfa;

$clr-progress: #ad1fea;

$clr-white: #fff;

$clr-danger: #d73737;

$fs-heading-1: 2.4rem;
$fs-heading-2: 2rem;
$fs-heading-3: 1.8rem;
$fs-heading-4: 1.4rem;

$fs-body-1: 1.6rem;
$fs-body-2: 1.5rem;
$fs-body-3: 1.3rem;
